# Ignore everything in the root except these files
*
!main.py
!constants.py
!stuff.py
!Pipfile
!assets/

# Ignore everything in the folder_to_track except these files
folder_to_track/*
!folder_to_track/important_file.txt